:root {
  --dark: #2e2f42;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --white-color: #ffffff;
  --light: #f4f4fd;
  --text-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  color: var(--text-color);
  line-height: 1.5;
  font-size: 16px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--dark);
}

.link:hover {
  color: var(--pressed-state);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
}

.logo .accent {
  color: var(--dark);
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
}

.nav-list .link:focus {
  color: var(--pressed-state);
}

.contacts {
  font-style: normal;
}
.contacts .list .link {
  color: var(--text-color);
}

.contacts .list .link:hover,
.contacts .list .link:focus {
  color: var(--pressed-state);
}

.top-section {
  background-color: var(--dark);
}

.top-section .section-title {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.primary-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  color: var(--white-color);
  cursor: pointer;
}

.primary-btn:hover {
  background-color: var(--pressed-state);
}

.primary-btn:focus {
  background-color: var(--pressed-state);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);
}

.description {
  color: var(--text-color);
}

.list-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-text {
  font-size: 16px;
}

.services-section .section-title {
  line-height: 1.2;
}

.team-section {
  background-color: var(--light);
}

.team-section .section-title {
  text-align: center;
  text-transform: capitalize;
}

.team-section .team-card {
  background-color: var(--white-color);
}

.team-section .team-card .list-title {
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-section .team-card .list-text {
  color: var(--text-color);
}

.footer {
  background-color: var(--dark);
  color: var(--white-color);
}

.footer .logo .accent {
  color: var(--light);
}

.footer .footer-description {
  color: var(--light);
}
