:root {
  --dark: #2e2f42;
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --white-color: #ffffff;
  --light: #f4f4fd;
  --text-color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1128px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  color: var(--text-color);
  line-height: 1.5;
  font-size: 16px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: var(--dark);
}

.link:hover {
  color: var(--pressed-state);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--primary-brand);
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .logo {
  margin-right: 76px;
}

header nav {
  display: flex;
  align-items: center;
}

.section {
  padding: 120px 0;
}

.top-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.nav-list,
header .contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}

.logo .accent {
  color: var(--dark);
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
}

.nav-list .link:focus {
  color: var(--pressed-state);
}

.contacts {
  font-style: normal;
}
.contacts .list .link {
  color: var(--text-color);
}

.contacts .list .link:hover,
.contacts .list .link:focus {
  color: var(--pressed-state);
}

.top-section {
  background-color: var(--dark);
}

.top-section .section-title {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}

.primary-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand);
  color: var(--white-color);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  border-radius: 4px;
}

.primary-btn:hover {
  background-color: var(--pressed-state);
}

.primary-btn:focus {
  background-color: var(--pressed-state);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark);
}

.description {
  color: var(--text-color);
}

.list-title {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.list-text {
  font-size: 16px;
}

.services-section .section-title {
  line-height: 1.2;
}

.services-section .list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.team-section {
  background-color: var(--light);
}

.team-section .section-title {
  text-align: center;
  text-transform: capitalize;
}
.team-section .list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 72px;
}

.team-section .team-card {
  background-color: var(--white-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
}

.team-section .team-card .list-title {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.team-section .team-card .list-text {
  color: var(--text-color);
}

.footer {
  background-color: var(--dark);
  color: var(--white-color);
  padding: 101px 0 100px;
}

.footer .logo .accent {
  color: var(--light);
}

.footer .footer-description {
  color: var(--light);
  max-width: 264px;
  margin-top: 16px;
}

.hidden {
  display: none;
}

.portfolio .list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 72px;
}
.portfolio .list .tile {
  /* flex: 0 0 calc((100% - 48px - 6px) / 3); */
  /* flex-basis: .3;
  flex-shrink: .3; */
  flex-basis: calc((100% - 48px) / 3);
  overflow: hidden;
  box-sizing: border-box;
}

.border-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 0 32px 16px;
}
